// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #008CEA;
$blue-0: rgba(0, 140, 234,0.4);
$yellow: #FEDC37;
$orange: #E67E22;
$green: #1EDD88;
$gray: gray;
$light-gray: #F4F4F4;
$black: black;
$white: white;
