.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.card-trip > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}



@keyframes example {
  0%   {background-color: #008CEA;}
  25%  {background-color: #FEDC37;}
  100% {background-color: #008CEA;}
}

.card-animation{
  background-color: #008CEA;
  animation-name: example;
  animation-duration: 3s; 
}


.card-product-big {
  position: relative;
  overflow: hidden;
  // height: 120px;
  background: #008CEA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  align-items: center;
  height: 100%;
  width: 100%;
}


.close-btn{
  background-color: rgba(0,0,0,0);
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 17px;
  opacity: 0.7;
  &:hover{
    opacity: 1.0;
  }
}
.card-product-big img {
  height: 80%;
  width: 30px;
  object-fit: contain;
}

.card-product-big h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}
.card-product-big h3.title {
  font-size: 15px;
}

.card-product-big p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-big .card-product-infos {
  padding: 16px;
}




.card-product {
  overflow: hidden;
  cursor: pointer; /* Mouse pointer on hover */
  background: #008CEA;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 35px;
  &:hover{
    opacity: 0.7;
  }
}

.pop-up a{
  color: white;
  font-size: 100%;
  text-decoration: None;
  .orange-button-xsmall {
    border-color: rgba(0,0,0,0);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    background-color: #3FAEFD;
    border-radius: 5px;
    -webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
    &:hover {
      background-color: #FEDC37 !important;
      opacity: 1.0 !important;
    }
  }
}

.card-product-big a {
  color: white;
  font-size: 100%;
  .white-button-small {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    border: 2px solid white;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 0px 0px 8px black, 1px 0px 2px white;
    &:hover {
      background-color: white;
      color: grey;
      text-shadow: none;
    }
  }
}


.card-product img {
  height: 80%;
  width: 20px;
  object-fit: contain;
}

.card-product h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.pop-up{
  color: black;
  text-align: center !important;
}

.card-project {
  text-align: -webkit-center;

  img{
  height: 100%;
  width: 400px;
  object-fit: contain;
  }
}