// button, input[type="submit"], input[type="reset"] {
// 	background: none;
// 	color: inherit;
// 	border: none;
// 	padding: 0;
// 	font: inherit;
// 	cursor: pointer;
// 	outline: inherit;
// }

@keyframes example {
  0%   {background-color: $blue;}
  25%  {background-color: #FEDC37;}
  100% {background-color: $blue;}
}

.card-animation{
  background-color: $blue;
  animation-name: example;
  animation-duration: 3s; 
}

.card-buoy {
  overflow: hidden;
  cursor: pointer; /* Mouse pointer on hover */
  background: $blue;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  line-height: 1;
  height: 2.25rem;
  color: $white;
  img {
    height: 80%;
    width: 2rem;
    object-fit: contain;
  }
  p {
    font-size: 0.875rem !important;
    font-weight: bold;
    margin: 0;
  }
  &:hover{
    opacity: 0.7;
  }
}

.card-buoy-big {
  position: relative;
  overflow: hidden;
  background: $blue;
  box-shadow: 0 0 1rem rgba(0,0,0,0.2);
  align-items: center;
  height: 100%;
  width: 100%;
  color: $white;
  img {
    height: 80%;
    width: 2rem;
    object-fit: contain;
  }
  a {
    font-size: 100%;
  }
  h3 {
    font-size: 0.875rem;
    font-weight: bold;
    margin: 0;
  }
  h3.title {
    font-size: 0.95rem;
  }
  p {
    font-size: 0.75rem;
    line-height: 1.4;
    opacity: .7;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
  .card-buoy-infos {
    padding: 16px;
  }  
}


.close-btn{
  background-color: rgba(0,0,0,0);
  border: none; /* Remove borders */
  color: white; /* White text */
  cursor: pointer; /* Mouse pointer on hover */
  color: white;
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 17px;
  opacity: 0.7;
  &:hover{
    opacity: 1.0;
  }
}

.pop-up a{
  color: white;
  font-size: 100%;
  text-decoration: None;
  .orange-button-xsmall {
    border-color: rgba(0,0,0,0);
    cursor: pointer;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: bold;
    background-color: #3FAEFD;
    border-radius: 5px;
    -webkit-transition: background-color 0.75s, color 0.75s;
    transition: background-color 0.75s, color 0.75s;
    &:hover {
      background-color: #FEDC37 !important;
      opacity: 1.0 !important;
    }
  }
}

#plotdata{
  .white-button-tab {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    text-shadow: 0px 0px 3px black, 1px 0px 2px white;
    background-color: white;
    color: grey;
    text-shadow: none;
    border: 2px solid white;

    &:hover {
      border: 2px solid black;
      text-shadow: 0px 0px 8px black, 1px 0px 2px white;
      color: #0E0000;
      background-color: rgba(0,0,0,0);  
    }
  }
  .active{
    border: 2px solid black;
    text-shadow: 0px 0px 8px black, 1px 0px 2px $white;
    color: #0E0000;
    background-color: rgba(0,0,0,0);
  }
}


.outline-button-small {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem !important;
  border: 2px solid $white !important;
  background: rgba(0,0,0,0) !important;
  color: $white !important;
  font-weight: bold !important;
  text-decoration: none;
  border-radius: 5px;
  text-shadow: 0px 0px 8px $black, 1px 0px 2px $white;
  &:hover {
    background-color: $white !important;
    color: $gray !important;
    text-shadow: none;
  }
}


.card-product-new {
  overflow: hidden;
  cursor: pointer; /* Mouse pointer on hover */
  background: rgba(0,0,0,0);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  height: 35px;
  width: 100%;
  &:hover{
    opacity: 0.7;
  }
}

.card-product-new img {
  height: 80%;
  width: 20px;
  object-fit: contain;
}

.card-product-new h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-product-new p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product-new .card-product-infos {
  padding: 16px;
}


.card-product img {
  height: 80%;
  width: 20px;
  object-fit: contain;
}

.card-product h3 {
  font-size: 13px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.active-buoy-button {
  background-color: $yellow;
  color: $black;
}


.pop-up{
  color: black;
  text-align: center !important;
}