<p>Olá <%= @resource.email %>!</p>

<p>Alguém solicitou alteração da sua senha no pnboia.org.
Você pode alterar a senha clicando no link abaixo.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não fez essa solicitação, por favor desconsidere este email.</p>
<p>Sua senha não será alterada até que você realize a troca por meio do link acima.</p>
